# 项目端口
server:
  port: 8080

spring:
  datasource:
    name:
    url: jdbc:mysql://localhost:3306/pets?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    database: 1
    host: localhost
    password:
    port: 6379
    jedis:
      pool:
        #最小等待连接中的数量,设 0 为没有限制
        max-idle: 100
        #最大等待连接中的数量,设 0 为没有限制
        min-idle: 0
        #最大连接数据库连接数,设 0 为没有限制
        max-active: 8
        #最大建立连接等待时间。如果超过此时间将接到异常。设为-1表示无限制。
        max-wait: -1
# 日志
logging:
  level:
    root: info
    com:
      wulizhou:
        pets:
          model:
            mapper: debug
  file: ./pets.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p{%F.%L}-%m%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p{%F.%L}-%m%n"

# The config for HttpClient
http:
  maxTotal: 300
  defaultMaxPerRoute: 50
  connectTimeout: 1000
  connectionRequestTimeout: 60000
  socketTimeout: 60000
  staleConnectionCheckEnabled: true